$bg-bottom: linear-gradient(171.07deg, #747474 -4.41%, rgba(255, 255, 255, 0) 60.02%);
$bg-top: linear-gradient(180deg, #000000 -123.77%, rgba(0, 0, 0, 0) 78.06%);
$main: #FFF;
$title: #2C3F68;
$text-dark: #3F3F3F;
$bg-realized: #EEE;
$border: #D8D8D8;
$bg-directions: #9D9D9D;