.about {
  margin-bottom: 0;
}
.about__container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.about__main {
  display: flex;
  justify-content: space-between;
  margin-bottom: 57px;
}
@media (max-width: 720px) {
  .about__main {
    flex-direction: column;
    justify-content: normal;
  }
}
.about__text {
  width: 60%;
}
@media (max-width: 720px) {
  .about__text {
    width: 100%;
    margin-bottom: 34px;
  }
}
.about__title {
  margin-bottom: 38px;
}
.about__descr {
  font-weight: 500;
  font-size: 16px;
  line-height: 27px;
  color: #3F3F3F;
}
.about__descr:not(:last-child) {
  margin-bottom: 23px;
}
.about__age {
  margin-bottom: 25px;
}
@media (max-width: 540px) {
  .about__age {
    margin-bottom: 34px;
  }
}
.about__finally {
  margin-bottom: 25px;
}
@media (max-width: 540px) {
  .about__finally {
    margin-bottom: 34px;
  }
}
.about__stat {
  width: 25%;
}
@media (max-width: 960px) {
  .about__stat {
    width: 35%;
  }
}
@media (max-width: 720px) {
  .about__stat {
    display: flex;
    width: 100%;
  }
}
@media (max-width: 540px) {
  .about__stat {
    flex-direction: column;
    align-items: flex-start;
  }
}
.about__count {
  display: block;
  margin-bottom: 5px;
}
.about__adv {
  display: inline-block;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
}
.about__note {
  padding: 25px 32px 32px;
  border: 2px solid;
  border-image-source: linear-gradient(94.72deg, #F9A97B 26.2%, #C3825A 95.93%);
  border-image-slice: 1;
}
.about__subtitle {
  margin-bottom: 12px;
}
.about__assoc {
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  color: #3F3F3F;
}
.about__assoc:not(:last-child) {
  margin-bottom: 4px;
}