.directions {
  padding-top: 83px;
  padding-bottom: 95px;
}
@media (max-width: 960px) {
  .directions {
    padding-top: 96px;
    padding-bottom: 75px;
  }
}
@media (max-width: 720px) {
  .directions {
    padding-top: 52px;
    padding-bottom: 65px;
  }
}
@media (max-width: 450px) {
  .directions {
    padding-bottom: 45px;
  }
}
.directions__title {
  margin-bottom: 57px;
}
@media (max-width: 720px) {
  .directions__title {
    margin-bottom: 47px;
  }
}
@media (max-width: 450px) {
  .directions__title {
    margin-bottom: 35px;
  }
}
.directions__content {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(2, minmax(273px, 1fr));
  gap: 25px;
  grid-template-areas: "first first first second second second third third third third third third" "first first first fourth fourth fourth fourth fourth fourth fifth fifth fifth";
}
@media (max-width: 1024px) {
  .directions__content {
    gap: 20px;
  }
}
@media (max-width: 930px) {
  .directions__content {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(5, minmax(190px, 1fr));
    grid-template-areas: "first first first first first first" "second second second second second second" "third third third third third third" "fourth fourth fourth fourth fourth fourth" "fifth fifth fifth fifth fifth fifth";
  }
}
.directions__card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 22px;
  cursor: pointer;
}
.directions__card:hover::before {
  background: linear-gradient(180.09deg, rgba(0, 0, 0, 0.5) 0.08%, rgba(0, 0, 0, 0) 75.86%);
}
.directions__card::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  background: linear-gradient(180.09deg, rgba(0, 0, 0, 0.2) 0.08%, rgba(0, 0, 0, 0) 75.86%);
  transform: rotate(-180deg);
}
.directions__card::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -2;
  background-color: #9D9D9D;
}
@media (max-width: 1024px) {
  .directions__card {
    padding: 19px;
  }
}
.directions__card--1 {
  grid-area: first;
}
.directions__card--2 {
  grid-area: second;
}
.directions__card--2:hover::before {
  background: none;
}
@media (max-width: 930px) {
  .directions__card--2:hover::before {
    background: linear-gradient(180.09deg, rgba(0, 0, 0, 0.5) 0.08%, rgba(0, 0, 0, 0) 75.86%);
  }
}
.directions__card--2 .directions__img {
  top: -45px;
  right: -40px;
  left: auto;
}
@media (max-width: 930px) {
  .directions__card--2 .directions__img {
    top: 0;
    right: 0;
  }
}
.directions__card--3 {
  grid-area: third;
}
.directions__card--4 {
  grid-area: fourth;
}
.directions__card--5 {
  grid-area: fifth;
}
.directions__card--5:hover::before {
  background: none;
}
@media (max-width: 930px) {
  .directions__card--5:hover::before {
    background: linear-gradient(180.09deg, rgba(0, 0, 0, 0.5) 0.08%, rgba(0, 0, 0, 0) 75.86%);
  }
}
.directions__img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
}
.directions__subtitle {
  position: relative;
  font-size: 18px;
  line-height: 29px;
  margin-top: auto;
  margin-bottom: 13px;
  text-transform: uppercase;
  color: #FFF;
  z-index: 2;
}
@media (max-width: 1024px) {
  .directions__subtitle {
    font-size: 16px;
    line-height: 26px;
  }
}
@media (max-width: 720px) {
  .directions__subtitle {
    font-size: 22px;
    line-height: 35px;
    margin-bottom: 0;
  }
}
.directions__descr {
  position: relative;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #FFF;
  z-index: 2;
}
.directions__descr-full {
  display: none;
}
.directions__descr-full--indent:not(:last-child) {
  margin-bottom: 24px;
}
.directions__button {
  position: relative;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #FFF;
  z-index: 2;
  margin-top: 10px;
}