@import "vars";
@import "mixins";

.directions {
  padding-top: 83px;
  padding-bottom: 95px;
  @media (max-width: 960px) {
    padding-top: 96px;
    padding-bottom: 75px;
  }
  @media (max-width: 720px) {
    padding-top: 52px;
    padding-bottom: 65px;
  }
  @media (max-width: 450px) {
    padding-bottom: 45px;
  }
  &__title {
    margin-bottom: 57px;
    @media (max-width: 720px) {
      margin-bottom: 47px;
    }
    @media (max-width: 450px) {
      margin-bottom: 35px;
    }
  }
  &__content {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(2, minmax(273px, 1fr));
    gap: 25px;
    grid-template-areas:
    "first first first second second second third third third third third third"
    "first first first fourth fourth fourth fourth fourth fourth fifth fifth fifth"
  ;
    @media (max-width: 1024px) {
      gap: 20px;
    }
    @media (max-width: 930px) {
      grid-template-columns: repeat(6, 1fr);
      grid-template-rows: repeat(5, minmax(190px, 1fr));
      grid-template-areas:
      "first first first first first first"
      "second second second second second second"
      "third third third third third third"
      "fourth fourth fourth fourth fourth fourth"
      "fifth fifth fifth fifth fifth fifth"
    ;
    }
  }
  &__card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 22px;
    cursor: pointer;
    &:hover {
      &::before {
        background: linear-gradient(180.09deg, rgba(0, 0, 0, 0.5) 0.08%, rgba(0, 0, 0, 0) 75.86%);
      }
    }
    &::before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 1;
      background: linear-gradient(180.09deg, rgba(0, 0, 0, 0.2) 0.08%, rgba(0, 0, 0, 0) 75.86%);
      transform: rotate(-180deg);
    }
    &::after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -2;
      background-color: $bg-directions;
    }
    @media (max-width: 1024px) {
      padding: 19px;
    }
    &--1 {
      grid-area: first;
    }
    &--2 {
      grid-area: second;
      &:hover {
        &::before {
          background: none;
          @media (max-width: 930px) {
            background: linear-gradient(180.09deg, rgba(0, 0, 0, 0.5) 0.08%, rgba(0, 0, 0, 0) 75.86%);
          }
        }
      }
      .directions__img {
        top: -45px;
        right: -40px;
        left: auto;
        @media (max-width: 930px) {
          top: 0;
          right: 0;
        }
      }
    }
    &--3 {
      grid-area: third;
    }
    &--4 {
      grid-area: fourth;
    }
    &--5 {
      grid-area: fifth;
      &:hover {
        &::before {
          background: none;
          @media (max-width: 930px) {
            background: linear-gradient(180.09deg, rgba(0, 0, 0, 0.5) 0.08%, rgba(0, 0, 0, 0) 75.86%);
          }
        }
    }
    }
  }
  &__img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
  }
  &__subtitle {
    position: relative;
    font-size: 18px;
    line-height: 29px;
    margin-top: auto;
    margin-bottom: 13px;
    text-transform: uppercase;
    color: $main;
    z-index: 2;
    @media (max-width: 1024px) {
      font-size: 16px;
      line-height: 26px;
    }
    @media (max-width: 720px) {
      font-size: 22px;
      line-height: 35px;
      margin-bottom: 0;
    }
  }
  &__descr {
    position: relative;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: $main;
    z-index: 2;
    &-full {
      display: none;
      &--indent {
        &:not(:last-child) {
          margin-bottom: 24px;
        }
      }
    }
  }
  &__button {
    position: relative;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: $main;
    z-index: 2;
    margin-top: 10px;
  }
}