.footer {
  position: relative;
}
.footer::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url("../img/footer_back.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center right;
  z-index: 1;
}
@media (max-width: 1015px) {
  .footer::before {
    background-size: 75% 100%;
  }
}
@media (max-width: 714px) {
  .footer::before {
    background-position: bottom center;
    background-size: cover;
  }
}
.footer::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(133.19deg, #373737 25.37%, #B0B0B0 137.3%);
  transform: rotate(180deg);
}
.footer__container {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding-top: 45px;
  padding-bottom: 35px;
  z-index: 2;
}
@media (max-width: 960px) {
  .footer__container {
    padding-bottom: 59px;
  }
}
@media (max-width: 720px) {
  .footer__container {
    padding-top: 54px;
    padding-bottom: 45px;
  }
}
@media (max-width: 714px) {
  .footer__container {
    flex-direction: column;
  }
}
@media (max-width: 450px) {
  .footer__container {
    padding-top: 35px;
  }
}
.footer__info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 36%;
}
@media (max-width: 714px) {
  .footer__info {
    width: 100%;
  }
}
@media (max-width: 450px) {
  .footer__info {
    align-items: center;
  }
}
.footer__logo {
  margin-bottom: 35px;
}
.footer__address {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-style: normal;
  margin-bottom: 57px;
}
@media (max-width: 450px) {
  .footer__address {
    align-items: center;
  }
}
.footer__subtitle {
  font-weight: 500;
  font-size: 10px;
  line-height: 16px;
  letter-spacing: 0.08em;
  margin-bottom: 1px;
  text-transform: uppercase;
  color: #D8D8D8;
}
@media (max-width: 450px) {
  .footer__subtitle {
    font-size: 12px;
    line-height: 19px;
  }
}
.footer__location {
  font-weight: 500;
  font-size: 16px;
  line-height: 27px;
  color: #FFF;
  margin-bottom: 18px;
}
@media (max-width: 440px) {
  .footer__connect {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 440px) {
  .footer__separator {
    display: none;
  }
}
.footer__our-tel, .footer__separator, .footer__email {
  font-weight: 500;
  font-size: 16px;
  line-height: 27px;
  color: #FFF;
}
.footer__our-tel, .footer__separator {
  margin-right: 8px;
}
.footer__bottom {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
@media (max-width: 714px) {
  .footer__bottom {
    display: none;
  }
}
@media (max-width: 450px) {
  .footer__bottom {
    align-items: center;
  }
}
.footer__bottom--mobile {
  display: none;
}
@media (max-width: 714px) {
  .footer__bottom--mobile {
    display: flex;
  }
}
.footer__copy, .footer__policy {
  font-weight: 500;
  font-size: 10px;
  line-height: 17px;
  color: #D8D8D8;
}
.footer__policy {
  position: relative;
  margin-bottom: 17px;
}
.footer__policy::after {
  content: "";
  position: absolute;
  height: 1px;
  right: 0;
  bottom: 3px;
  left: 0;
  background-color: #D8D8D8;
}