@import "vars";
@import "mixins";

.footer {
  position: relative;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url("../img/footer_back.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center right;
    z-index: 1;
    @media (max-width: 1015px) {
      background-size: 75% 100%;
    }
    @media (max-width: 714px) {
      background-position: bottom center;
      background-size: cover;
    }
  }
  &::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(133.19deg, #373737 25.37%, #B0B0B0 137.3%);
    transform: rotate(180deg);
  }
  &__container {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding-top: 45px;
    padding-bottom: 35px;
    z-index: 2;
    @media (max-width: 960px) {
      padding-bottom: 59px;
    }
    @media (max-width: 720px) {
      padding-top: 54px;
      padding-bottom: 45px;
    }
    @media (max-width: 714px) {
      flex-direction: column;
    }
    @media (max-width: 450px) {
      padding-top: 35px;
    }
  }
  &__info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 36%;
    @media (max-width: 714px) {
      width: 100%;
    }
    @media (max-width: 450px) {
      align-items: center;
    }
  }
  &__logo {
    margin-bottom: 35px;
  }
  &__address {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-style: normal;
    margin-bottom: 57px;
    @media (max-width: 450px) {
      align-items: center;
    }
  }
  &__subtitle {
    font-weight: 500;
    font-size: 10px;
    line-height: 16px;
    letter-spacing: .08em;
    margin-bottom: 1px;
    text-transform: uppercase;
    color: $border;
    @media (max-width: 450px) {
      font-size: 12px;
      line-height: 19px;
    }
  }
  &__location {
    font-weight: 500;
    font-size: 16px;
    line-height: 27px;
    color: $main;
    margin-bottom: 18px;
  }
  &__connect {
    @media (max-width: 440px) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  &__separator {
    @media (max-width: 440px) {
      display: none;
    }
  }
  &__our-tel, &__separator, &__email {
    font-weight: 500;
    font-size: 16px;
    line-height: 27px;
    color: $main;
  }
  &__our-tel, &__separator {
    margin-right: 8px;
  }
  &__bottom {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    @media (max-width: 714px) {
      display: none;
    }
    @media (max-width: 450px) {
      align-items: center;
    }
    &--mobile {
      display: none;
      @media (max-width: 714px) {
        display: flex;
      }
    }
  }
  &__copy, &__policy {
    font-weight: 500;
    font-size: 10px;
    line-height: 17px;
    color: $border;
  }
  &__policy {
    position: relative;
    margin-bottom: 17px;
    &::after {
      content: '';
      position: absolute;
      height: 1px;
      right: 0;
      bottom: 3px;
      left: 0;
      background-color: $border;
    }
  }
  &__form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 57%;
    @media (max-width: 714px) {
      width: 100%;
    }
  }
  &__title {
    color: $main;
    margin-bottom: 21px;
  }
  &__inputs {
    display: flex;
    margin-bottom: 33px;
    width: 100%;
    @media (max-width: 840px) {
      flex-direction: column;
    }
  }
  &__name {
    position: relative;
    width: calc(50% - 9.5px);
    margin-right: 19px;
    @media (max-width: 840px) {
      width: 100%;
      margin-right: 0;
      margin-bottom: 20px;
    }
  }
  &__tel {
    position: relative;
    width: calc(50% - 9.5px);
    @media (max-width: 840px) {
      width: 100%;
    }
  }
  fieldset {
    padding: 0 17px 12px 17px;
    border: 1px solid $main;
  }
  #name, #tel, #comment {
    background-color: transparent;
    width: 100%;
    color: $main;
    border: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    &:focus-visible + legend {
      color: $border;
    }
    &::placeholder {
      color: #949494;
    }
  }
  &__inputs, &__comment {
    legend {
      color: $main;
      font-weight: 600;
      font-size: 14px;
      line-height: 21px;
      padding: 0 5px;
      transition: color .3s;
    }
  }
  &__comment {
    position: relative;
    margin-bottom: 26px;
    width: 100%;
  }
  #comment {
    min-height: 100px;
    resize: none;
  }
  &__form-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    @media (max-width: 714px) {
      margin-bottom: 35px;
    }
    @media (max-width: 540px) {
      flex-direction: column;
      align-items: flex-start;
    }
    @media (max-width: 450px) {
      align-items: center;
    }
  }
  &__checkbox {
    display: none;
  }
  &__checkbox + span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 22px;
    height: 22px;
    border: 1px solid $main;
    margin-right: 14px;
    &::after {
      content: '';
      opacity: 0;
      width: 40%;
      height: 40%;
      background-color: $main;
      transition: opacity .3s;
    }
  }
  &__checkbox:checked + span::after {
    opacity: 1;
  }
  &__label {
    display: flex;
    align-items: center;
    position: relative;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: $main;
    flex-wrap: wrap;
    @media (max-width: 540px) {
      margin-bottom: 27px;
    }
  }
  &__send {
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    background-color: $border;
    padding: 15px 75px;
    color: black;
    letter-spacing: .10em;
    text-transform: uppercase;
    transition: background-color .3s;
    &:hover {
      background-color: $main;
    }
    @media (max-width: 960px) {
      padding: 15px 49px 15px 62px;
    }
    @media (max-width: 840px) {
      padding: 15px 30px;
    }
  }
  &__rules {
    position: relative;
    &::after {
      content: '';
      position: absolute;
      height: 1px;
      right: 0;
      bottom: 1px;
      left: 0;
      background-color: $main;
    }
  }
}