@import "vars";
@import "mixins";

.header {
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 36px;
  }
  &__list {
    display: flex;
  }
  &__item {
    &:not(:last-child) {
      margin-right: 31px;
    }
  }
  &__link {
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: $main;
    letter-spacing: 0.16em;
  }
  &__tel {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: $main;
  }
}