@import "vars";
@import "mixins";

.header {
  position: relative;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: -318px;
    left: 0;
    z-index: -1;
    background: $bg-top;
    background-repeat: no-repeat;
  }
  &::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: -1800px;
    left: 0;
    z-index: -2;
    background: $bg-bottom;
    background-repeat: no-repeat;
  }
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 36px;
  }
  &__list {
    display: flex;
  }
  &__item {
    &:not(:last-child) {
      margin-right: 31px;
    }
  }
  &__link {
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: $main;
    letter-spacing: 0.16em;
  }
  &__tel {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: $main;
  }
}