.header {
  position: relative;
}
.header::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: -318px;
  left: 0;
  z-index: -1;
  background: linear-gradient(180deg, #000000 -123.77%, rgba(0, 0, 0, 0) 78.06%);
  background-repeat: no-repeat;
}
.header::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: -1800px;
  left: 0;
  z-index: -2;
  background: linear-gradient(171.07deg, #747474 -4.41%, rgba(255, 255, 255, 0) 60.02%);
  background-repeat: no-repeat;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 36px;
}
.header__list {
  display: flex;
}
.header__item:not(:last-child) {
  margin-right: 31px;
}
.header__link {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #FFF;
  letter-spacing: 0.16em;
}
.header__tel {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #FFF;
}