@import "vars";
@import "mixins";

.hero {
  margin-bottom: 219px;
  &__container {
    padding-top: 181px;
    position: relative;
  }
  &__logo {
    margin-bottom: 32px;
  }
  &__descr {
    font-weight: 600;
    font-size: 20px;
    line-height: 32px;
    max-width: 571px;
    color: $text-dark;
  }
  &__video {
    position: absolute;
    top: -60px;
    right: -416px;
    z-index: -1;
    max-width: 1220px;
    max-height: 644px;
  }
}