@import "vars";
@import "mixins";

.partners {
  &__container {
    display: flex;
    justify-content: space-between;
    padding-top: 75px;
    padding-bottom: 98px;
    @media (max-width: 1158px) {
      padding-right: 0;
    }
    @media (max-width: 960px) {
      padding-top: 82px;
      padding-bottom: 65px;
    }
    @media (max-width: 720px) {
      flex-direction: column;
      padding-top: 49px;
      padding-bottom: 71px;
    }
  }
  &__text {
    width: 28%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    @media (max-width: 1150px) {
      width: 30%;
    }
    @media (max-width: 720px) {
      width: 100%;
      margin-bottom: 33px;
    }
  }
  &__title {
    margin-bottom: 12px;
  }
  &__info {
    font-weight: 500;
    font-size: 16px;
    line-height: 27px;
  }
  &__buttons {
    margin-top: auto;
    @media (max-width: 720px) {
      display: none;
    }
  }
  &__content {
    width: 66%;
    margin: 0;
    @media (max-width: 720px) {
      width: 100%;
      overflow: visible;
    }
  }
  &__list {
    display: flex;
  }
  &__item {
    box-sizing: border-box;
    width: 223px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid $border;
    height: 275px;
    padding: 72px 10px 23px 10px;
    &:not(:last-child) {
      margin-right: 25.5px;
    }
    &-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      min-height: 105px;
    }
    &--luzhniki {
      padding-top: 14px;
      .partners__img {
        margin-bottom: 16px;
      }
    }
  }
  &__img {
    margin-bottom: auto;
  }
  &__name {
    line-height: 21px;
    margin-bottom: 6px;
  }
  &__descr {
    font-weight: 500;
    font-size: 12px;
    line-height: 17px;
    text-align: center;
  }
  &__link {
    font-weight: 600;
    font-size: 14px;
    line-height: 14px;
    margin-top: auto;
  }
}