@import "vars";
@import "mixins";

.partners {
  &__container {
    display: flex;
    justify-content: space-between;
    padding-top: 75px;
    padding-bottom: 98px;
  }
  &__text {
    width: 28%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  &__title {
    margin-bottom: 12px;
  }
  &__info {
    font-weight: 500;
    font-size: 16px;
    line-height: 27px;
  }
  &__buttons {
    margin-top: auto;
  }
  &__content {
    width: 65%;
  }
  &__list {
    display: flex;
  }
  &__item {
    width: calc(33.3% - 8.5px);
    min-height: 275px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid $border;
    padding: 72px 10px 23px 10px;
    &:not(:nth-child(3n)) {
      margin-right: 25.5px;
    }
    &-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      min-height: 105px;
    }
    &--luzhniki {
      padding-top: 14px;
      .partners__img {
        margin-bottom: 16px;
      }
    }
  }
  &__img {
    margin-bottom: auto;
  }
  &__name {
    line-height: 21px;
    margin-bottom: 6px;
  }
  &__descr {
    font-weight: 500;
    font-size: 12px;
    line-height: 17px;
    text-align: center;
  }
  &__link {
    font-weight: 600;
    font-size: 14px;
    line-height: 14px;
    margin-top: auto;
  }
}