.realized {
  background-color: #EEE;
}
.realized__container {
  padding-top: 85px;
  padding-bottom: 76px;
}
@media (max-width: 960px) {
  .realized__container {
    padding-top: 73px;
    padding-bottom: 84px;
  }
}
@media (max-width: 720px) {
  .realized__container {
    padding-top: 59px;
    padding-bottom: 49px;
  }
}
@media (max-width: 450px) {
  .realized__container {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
.realized__top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 49px;
}
.realized__buttons {
  flex-shrink: 0;
}
.realized__slide {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.realized__imgs {
  display: flex;
  column-gap: 10px;
  margin-bottom: 27px;
}
.realized__img {
  width: calc(50% - 5px);
}
.realized__pagination {
  display: none;
  position: relative;
}
@media (max-width: 450px) {
  .realized__pagination {
    display: inline-block;
  }
}
.realized .swiper-horizontal > .swiper-pagination-bullets, .realized .swiper-pagination-bullets.swiper-pagination-horizontal, .realized .swiper-pagination-custom, .realized .swiper-pagination-fraction {
  width: auto;
}
.realized .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet, .realized .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0;
  margin-right: 13px;
  border-radius: 0;
  background: #D8D8D8;
  opacity: 1;
  width: 11px;
  height: 11px;
}
.realized .swiper-pagination-bullet-active {
  background: black !important;
}
.realized__text--top {
  display: flex;
  align-items: flex-start;
  margin-bottom: 14px;
}
@media (max-width: 720px) {
  .realized__text--top {
    flex-direction: column;
    align-items: flex-start;
  }
}
.realized__text--bottom {
  display: flex;
}
@media (max-width: 720px) {
  .realized__text--bottom {
    flex-direction: column;
    align-items: flex-start;
  }
}
.realized__name {
  margin-right: 25px;
  font-weight: 600;
  font-size: 12px;
  line-height: 19px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
}
@media (max-width: 720px) {
  .realized__name {
    margin-bottom: 6px;
  }
}
.realized__object {
  max-width: 878px;
  font-weight: 600;
  font-size: 20px;
}
@media (max-width: 720px) {
  .realized__object {
    font-size: 16px;
    line-height: 25px;
  }
}
.realized__work {
  font-weight: 500;
  font-size: 16px;
}